<h1>Editing friendlist</h1>

<%= render "form", friendlist: @friendlist %>

<br>

<div>
  <%= link_to "Show this friendlist", @friendlist %> |
  <%= link_to "Back to friendlists", friendlists_path %>
</div>
